.flex-row {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
}

.flex-row span {
    text-transform: uppercase;
    font-size: 1.2em;
}

.flex-row i {
    font-size: 1.5em;
}

.timestamp {
    opacity: 0.75;
    font-size: 0.75em;
}

.select-filter {
    margin-left: 10px;
    padding: 5px;
}

.filter-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}